# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment-specific files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore project-specific files and directories
.idea/
inspectionProfiles/
logs/
models/
test_predictions.csv
train.csv
data/
aws.xml
misc.xml
modules.xml
other.xml
vcs.xml
workspace.xml
mnt/

# Ignore IDE and project-related files


# Ignore generated model files

# Ignore log files
melanoma_classification.log
